/* Style Sheet */
/* @Sparky-code on GitHub */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    margin: 0;
    background: url(img/MountainImg.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    background: #000000;
    background: linear-gradient(25deg, #000000 12%, #6c6c6cab 38%, #f1f1f12d 90%);
    font-family: Permanent Marker;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    min-height: 25px;
    min-width: 100vw;
    background-color: #222222;
    font-size: 1.5rem;
}

.score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: relative;
    font-size: 2vh;
    padding: 0%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    min-width: 100vh;
    height: 100%;
    font-size: 40px;
}

/* Plays */

.gamePlay, .outcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.outcome {
    height: 40px;
    margin-bottom: 5px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.card {
    margin: 10px;
    width: 10rem;
    height: 8rem;
    padding: 15px;
    border-radius: 5px;
    background-color: #f5f5f535;
    font-size: 25px;
    
}

.reset {    
    width: 10rem;
    height: 2rem;
    border-radius: 5px;
    border: 2px solid #ffffff;
    background-color: #f5f5f535;
    font-size: 20px;
    color: white;
}

p.result {
    font-size: 1.5rem;
}

/* Credits */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-count: 2;
    position: absolute;
    bottom: 0;
    min-width: 100vw;
    height: 5.5rem;
    font-size: 1em;
    background: #27272799;
}

p {
    padding: 5px;
    display: flex;
    justify-content: center;
    bottom: 0;
    margin: 0px;
    color: white;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none; /* no underline */
}

/* github & dev.to links */

.signature { 
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
}